<!DOCTYPE html>
<html>
<head>
	<title>Bingo!</title>
</head>
<body>
	<h1 id="bingo-title">Play Bingo!</h1>
	<div class="gameBingo" id="gameBingo"></div>
	<div class="gameBoard" id="gameBoard"></div>
    <br>
	<button onclick="restartGame()" id="restartBtn" class="custom-btn">Restart</button>
    <br>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

<script type="text/javascript" src="./js/bingo.js"></script>
<link rel="stylesheet" type="text/css" href="./css/style.css">
</html>
